
.menu_nav{
    display: flex;
    text-align: center;
    justify-content: end;
    text-align: end;
    align-items: end;
    margin-right: 60px;
}



.list_menu{
    display: flex;
    padding: 0;

    
}

.list_menu li {
    margin: 20px 20px;
    text-align:end ;
    justify-content: end;
 font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease; 
    padding: 8px;
    letter-spacing: 2px;
  
}

.list_menu a{
    font-weight: 600;
    ;
    color: white;
}

.list_menu li:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 20px;
     background-color: rgb(201, 197, 192);
  
}