.footer{
    display: flex;
    justify-content: center;
   
}

.footer h3{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Ultra', serif;
    letter-spacing: 3px;
}


.iconos_redes{
    background-color:  #fffffe;
    
}

.iconos_redes img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    
}