.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.footer h3{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Ultra', serif;
    letter-spacing: 3px;
    margin-top: 50px;
}


.iconos_redes{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}
.iconos_redes img {
    margin: 20px 20px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    
}

.iconos_rrss{
    background-color: rgb(176, 171, 164);
    border-radius: 50px;
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.field input{
    width: 500px;
    height: 35px;
}

.button-enviar{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;

}

.button-enviar input{
    border-radius: 60px;
    background-color: rgb(201, 197, 192);
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
    width: 85px;
    cursor: pointer;
}

label{
    margin-top: 20px;
}