.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.footer h3{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Ultra', serif;
    letter-spacing: 3px;
}


.iconos_redes{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.iconos_redes img {
    margin: 20px 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    
}

